@font-face {
    font-family: markPro;
    src: url(../markpro/FontFont-MarkPro.otf);
    font-weight: 400;
    }

@font-face {
    font-family: markProMedium;
    src: url(../markpro/FontFont-MarkPro-Medium.otf);
    font-weight: 500;
    }

@font-face {
    font-family: markProBold;
    src: url(../markpro/FontFont-MarkPro-Bold.otf);
    font-weight: 700;
    }

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Contenido de la pagína en general (Mobile First)*/

body {

    min-height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    font-family: markPro;
}

body::-webkit-scrollbar {

    width: 9px;
    background-color: #5b98ce;
}

body::-webkit-scrollbar-thumb {

    background-color: #0049ac;
}

header {

    background-color: #0049ac;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1em 1.3em;
}

header a {

    text-decoration: none;
    outline: none;
    transition: .3s;
    position: relative;
    top: 4px;
}

header a:hover {

    transition: .3s;
    transform: translateY(-2px);
}

#logo {

    width: 110px;
    margin: auto;
}

#header-final > #logo {

    width: 90px;
}

#header-final span {

    font-family: markProMedium;
    color: #fff;
    font-size: 14px;
    margin-right: 7px;
}

#header-final div {

    display: flex;
    cursor: pointer;
}

.globos-final, .globos-form {

    display: none;
}

main {

    display: grid;
    place-items: center;

}

#bonus-compras img:last-child {

    display: none;
}

#bonus-compras #header-mobile {

    width: 100%;
}

.desktop {

    display: none;
}

.mobile {

    position: relative;
    width: 100%;
}

.mobile h1 {

    text-align: right;
    position: absolute;
    color: #0049ac;
    max-width: 32%;
    top: 30px;
    right: 20px;
    font-size: 4.5vw;

}

.mobile img {

    width: 100%;
}

.points {

    margin-top: 1.2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Class none al div del primer formulario*/

.none {

    display: none;
}

#flex {

    display: flex;
    flex-direction: column;
    align-items: center;
}

#banner-top {

    display: block;
    width: 100%;
    margin: 0;
}

.points h2 {

    color: #0049ac;
    font-size: 18px;
    line-height: 22px;
    width: 16.8em;
}

.points h2 b {

    font-family: markProBold;
}

.points h3 {

    color: #0049ac;
    font-weight: bold;
    font-size: 14px;
    margin: 24px 10px 10px 10px;
    width: 20em;
}

.points a {

    text-decoration: none;
    outline: none;
    background-color: #ffd100;
    color: #0049ac;
    display: inline-block;
    margin: 1.5em 0 1em 0;
    padding: 0.8em 2.4em;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    transition: .4s;
    border: none;
}

.points a:hover {

    opacity: 0.6;
    transition: .4s;
}

.form {

    margin-top: 2em;
}

.modal-document {

    margin-left: 5px;
    width: 11px;
}

.modal-info {

    margin-top: 3px;
    width: 12px;
    margin-left: 2px;
}

.modal-document:hover, .modal-info:hover {

    cursor: pointer;
}

.form #instruc {

    color: #0049ac;
    font-size: 14px;
    width: 20em;
    margin: 0 auto;
    font-family: markPro;
}

/*.form h4, .form p .form span {

    color: #0049ac;
    font-family: markProBold;
}*/

.form #instruc span {

    color: #0049ac;
    font-family: markPro;
}

.form #instruc b {

    font-family: markProMedium;
}

#primer-form {

    background-color: transparent;
}

form {

    margin: 0 auto 0.8em auto;
    width: 19em;
    border-radius: 20px;
    padding: 10px 20px;
}

form > div {

    position: relative;
}

#type-data, #text-sorteo {

    color: #616161;
    font-size: 14px;
}

#text-points, #text-cupones {

    font-size: 14px;
    color: #555555;
    width: 75%;
    margin: 20px auto 0 auto;
    line-height: 20px;
}

#type-complete {

    color: #616161;
    font-size: 14px;
    font-family: markProMedium;
}

#numero-cupones {

    font-size: 17px;
    color: #fff;
    background-color: #0049ac;
    width: 7em;
    margin: 5px auto;
    padding: 15px 0;
    border-radius: 15px;
}

#complete-data {

    color: #6b6b6b;
    text-align: center;
}

#input-document > .icon {

    left: 12px;
    bottom: 22px;
}

#input-document > div {

    margin-bottom: 3px;
}

#input-mail > .icon {

    left: 14px;
    bottom: 22px;

}

#input-birthday > .icon {

    left: 14px;
    bottom: 23px;
}

.icon {

    position: absolute;
    bottom: 20px;
    left: 15px;
}

.type-document, #type-birthday, #type-info {

    color: #6b6b6b;
    font-family: markProMedium;
    text-align: left;
    display: block;
    font-size: 14px;
}

.type-document {

    display: inline-block;
    margin-left: 5px;
    
}

#input-document > div {

    text-align: left;
}

#type-birthday, #type-info {

    font-size: 13px;
    margin-left: 3px;
}

input {

    outline: none;
    width: 18.2em;
    border:none;
    background-color: #efefef;
    color: #6b6b6b;
    font-size: 15px;
    font-family: markPro;
    padding: 0.5em 1em 0.5em 2.6em;
    border-radius: 5px;
    margin-bottom: 17px;
    border: 1px solid transparent;
}

input:placeholder-shown {

    font-family: markPro;
}

input:focus, input:not(placeholder-shown) {

    font-family: markProMedium;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {

    -webkit-appearance: none;
    margin: 0;
}

#document-select {

    background-color: #0049ac;
    position: absolute;
    left: 0.4em;
    padding: 0.4em 0.5em;
    color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 4.5em;
}

#document-select::after {

    content: "▾";

}

#document-select:hover {

    cursor: pointer;
}

#document-select label {

    color: #fff;
    font-weight: 400;
    cursor: pointer;
}

#docu-confirm {

    padding: 0.5em 1em 0.5em 2.6em;
    margin-bottom: 25px;
}

input[type="submit"] {

    text-decoration: none;
    outline: none;
    background-color: #ffd100;
    color: #0049ac;
    display: inline-block;
    margin: 1.5em 0 0.5em 0;
    padding: 0.8em 2.8em;
    border-radius: 5px;
    transition: .4s;
    border: none;
    width: 13em;
    font-family: markProBold;
    -moz-appearance: none;
         appearance: none;
    -webkit-appearance: none;

}

input[type="submit"]:hover {

    cursor: pointer;
    opacity: 0.6;
    transition: .4s;
}

input[type="checkbox"] {

    position: relative;
    width: 0;
    height: 0;
    margin-right: 20px;
    margin-bottom: 13px;
    cursor: pointer;
    -moz-appearance: none;

}

.moz-check {

    background-color: transparent;
    padding: 0;
}

input[type="checkbox"]::before {

    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    background-color: #fff;
    border: 1px solid #0049ac;
    border-radius: 2px;
}

input[type="checkbox"]:checked::before {

    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    background-color: #0049ac;
}

input[type="checkbox"]:checked::after {

    position: absolute;
    top: -1px;
    left: 6px;
    display: block;
    width: 4px;
    height: 10px;
    content: "";
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.terms-list {

    margin-top: 10px;
}

.terms {

    display: flex;
    text-align: left;
    color: #0049ac;
    font-size: 11px;
    font-family: markProMedium;
    margin-bottom: 14px;
    margin-left: 10px;
}

.terms a {

    text-decoration: underline;
    background-color: transparent;
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 11px;
    transition: .3s ease-in-out;
}

.terms a:hover {

    opacity: 1;
    transition: .3s ease-in-out;
    color: #5b98ce;
}

.cupon-info > h2 {

    display: flex;
    align-items: center;
}

.cupon-info > h2::after {

    content: url(../img/icons/emoji.svg);
    width: 40px;
    display: inline-block;
    margin-left: 0.5em;
}

.cupones {

    text-align: center;
    margin-top: 1em;
    grid-column: 1/span 2;
}

.cupones-puntos {

    width: 2.5em;
}

.cupones h3 {

    font-family: markProBold;
    color: #0049ac;
    margin: 0.8em auto 0.2em auto;
    font-size: 26px;
}

.cupones > p {

    font-size: 14px;
    color: #0049ac;
    margin: 0 4em;
}

.revisar-cup {

    width: 70%;
    background-color: #0049ac;
    color: #fff;
    border-radius: 10px;
    padding: 1em;
}

.revisar-cup > h4 {

    margin-bottom: 1em;
    font-size: 1em;
}

.numero-opciones {

    padding: 1em 0;
    background-color: #ffd100;
    color: #0049ac;
    border-radius: 10px;
}

.numero-opciones > p {

    font-size: 0.8em;
}

.numero-caja {

    display: inline-block;
    padding: 0.4em 3em;
    margin-top: 1em;
    border-radius: 5px;
    background-color: #0049ac;
    color: #fff;
}

.tabla {

    margin: 3em auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5em;
    place-items: center;
    place-items: center;
    padding: 2em 0;
}

.card {

    width: 300px;
    height: 647px;
    position: relative;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    transition: all .5s linear;
    transform-style: preserve-3d;
    border: 2px solid #0049ac;
    border-radius: 10px;
}

.front, .back {

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: absolute;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.front {

    background-color: #efefef;
    z-index: 2;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.front img {

    max-width: 100%;
    max-height: 100%;
}

.title {

    text-align: center;
    color: #0049ac;
    font-family: markProBold;
    padding: 0.6em;
}

.title > div {

    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 0.3em;
}

#icon-recurso {

    width: 22px;
    margin-right: 0.3em;
}

#cupon-desc-banquete {

    font-family: markProBold;
    color: #0049ac;
    background-color: #fff;
    font-size: 13px;
    padding: 0.8em 1.4em;
    border-bottom: 2px dashed #0049ac;
}

.description-cod {

    background-color: #efefef;
    padding: 1.4em 1em 1.725em 1em;
    color: #616161;
}

#cupon-deshabil-op, .cup-des-op, .front #img-des {

    opacity: 0.3;
}

.description-cod-deshabil {

    background-color: #efefef;
    height: 285px;
    padding: 1em;
    text-align: left;
    color: #616161;
    font-family: markProBold;
}

#codigo-cupon {

    margin: 0.7em 0;
    font-family: markProBold;
    background-color: #4d4d4d;
    color: #fff;
    display: inline-block;
    padding: 0.2em 1.1em;
}

#dias-cupon {

    margin: 0.6em 2em 0.8em 2em;
}

.terminos-boton {

    display: flex;
    justify-content: center;
    align-items: baseline;
}

#ver-terminos {

    font-size: 14px;
    width: 180px;
    margin: 0 auto;
    border-bottom: 1px solid;
}

.terminos-cupon {

    outline: none;
    background-color: transparent;
    border: none;
    font-family: markProBold;
    color:#6b6b6b;
    cursor: pointer;
}

.back {

    background-color: #efefef;
    z-index: 1;
    color: #616161;
    text-align: left;
    padding: 1em 1.6em 2.2em 1.6em;
    transform: rotateY(180deg);
}

.back img {

    width: 2.2em;
    position: relative;
    left: 1em;
}

.back h4 {

    font-size: 20px;
    font-family: markProBold;
}

.back p {

    line-height: 20px;
    font-size: 13px;
    text-align: justify;
}

.rotate {

    transform: rotateY(180deg);
}

.gray {

    -webkit-filter: grayscale(100%);

            filter: grayscale(100%);
}

/*input para la confirmación del código*/

#cod-con {

    text-align: center;
    font-size: 20px;
    width: 14em;
    padding: 0.4em 1em;
    letter-spacing: 7px;
}

#logos-particip {

    display: flex;
    margin: 20px auto 15px auto;
    max-width: 16em;
    justify-content: center;
    flex-wrap: wrap;
    align-items: baseline;
}

#logos-particip img {

    width: 32px;
    margin: 0 5px 15px 5px;
}

#logos-particip #primax {

    width: 60px;
}

#logos-particip #listo {

    width: 50px;
}

#logos-particip #chilis {

    width: 50px;
    height: 30px;
    margin-left: 0;
}

/* Modal */

.selec-doc {

    min-width: 100vw;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    z-index: 20;
    transition: all 0.3s ease-in-out;
}

.des-info, .des-sel{

    visibility: hidden;
    opacity: 0;
}

.selec-doc .white {

    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 20px;
    width: 345px;
    padding: 0.8em;
    text-align: center;
}

.white h2 {

    color: #0049ac;
    font-size: 16px;
    font-weight: 400;
    font-family: markProBold;
}

.white #text-cump, .white #text-lis {

    margin: 0 auto;
    line-height: 18px;
}

#icono-info {

    width: 40px;
    margin: 0 auto 1em auto;
}

#close {

    align-self: flex-end;
}

#close button {

    background-color: transparent;
    border: none;
    transition: .3s;
}

#close button:hover {

    transform: scale(1.2, 1.2);
    cursor: pointer;
    transition: .3s;
}

.lista-botones {

    outline: none;
    border: none;
    background: transparent;
    display: block;
    margin: 6px auto;
    color: #6b6b6b;
    transition: .3s;
    width: 85%;
    padding: 6px;
    border-radius: 5px;
}

.lista-botones:hover {

    cursor: pointer;
    background-color: #ffd100;
    transition: .3s;
    color: #0049ac;
    font-weight: 700;
}

#texto-info-cupones {

    font-size: 12px;
    color: #6b6b6b;
    padding: 1em 2em;
    line-height: 18px;
}

footer {

    margin-top: auto;
}

footer h4 {

    text-align: center;
    font-size: 22px;
}

.dudas {

    background-color: #f2f2f2;
    color: #6b6b6b;
    font-size: 11px;
    padding: 15px;
    text-align: center;
    font-size: 12px;
}

.dudas p {

    max-width: 19em;
    margin: 0 auto;
}

.dudas b {

    font-family: markProBold;
    text-decoration: none;
    color: #6b6b6b;
}

.dudas img {

    position: relative;
    top: 2px;
}

.acerca {

    display: flex;
    flex-direction: column;
    padding: 3em 2em;
    background-color: #4b4b4b;
    color: #a1a1a1;
    text-align: center;
}

.acerca-enlaces:last-child {

    margin-top: 4em;
}

.acerca-enlaces > h3 {

    margin-bottom: 1.8em;
}

.acerca-enlaces > a {

    margin: 0.8em 0;
    text-decoration: none;
    color: #a1a1a1;
    display: block;
}

.acerca-enlaces > a:hover {

    color: #efefef;
    transition: .1s;
}

.derechos {

    margin-top: 3.5em;
}

.derechos-iconos {

    display: flex;
    justify-content: center;
    margin-top: 1.2em;
    margin: 1.2em 0 0 2em;
}

.derechos-iconos > img {

    width: 40px;
    margin-right: 1.5em;
}

/*Contenido de la página (Desktop)*/

@media screen and (min-width: 900px) {

    body {

        position: relative;
    }

    header {

        background-color: transparent;
        display: flex;
        align-items: center;
        padding: 0;
        display: none;
    }

    header a, .mobile {

        display: none;
    }

    header #logo {

        margin: 0;
    }

    #header-final {

        background-color: #0049ac;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.2em 5em;
    }

    #header-final a {

        display: none;
    }

    .globos-final {

        position: absolute;
        top: 2.8em;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .globos-final > img {

        width: 9%;
    }

    .main-form {

        grid-template-columns: repeat(2, 1fr);
        place-items: flex-start;
    }

    .content {

        display: grid;
    }

    #bonus-compras img:last-child {

        display: block;
    }
    
    #bonus-compras #header-mobile {
    
        display: none;
    }

    #bonus-compras img {

        width: 55vw;
        height: 90vh;
    }

    .load {

        height: 25em;
        margin: 0;
    }

    .desktop {

        position: relative;
        display: block;
    }

    .desktop h1 {

        color: #fff;
        margin-top: 30px;
        padding-right: 10%;
        font-weight: 500;
        line-height: 36px;
    }

    .points {

        border: 1px solid #cccccc;
        border-radius: 35px;
        width: 410px;
        min-height: 370px;
        padding-top: 35px;
        margin-bottom: 40px;
        margin: 50px 0 40px 0;
    }

    .cupon-info {

        border: none;
        margin: 0;
        min-height: 0;
        width: auto;
    }

    .cupon-info > h2 {

        font-size: 22px;
    }

    .form #instruc {

        width: 40em;
    }

    .revisar-cup {

        width: 92%;
        background-color: #0049ac;
        color: #fff;
        border-radius: 10px;
        padding: 1.5em;
    }
    
    .revisar-cup > h4 {
    
        margin-bottom: 0.7em;
        font-size: 1.3em;
    }
    
    .numero-opciones {
    
        padding: 1em 0;
        background-color: #ffd100;
        color: #0049ac;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .numero-opciones > p {

        font-size: 1em;
    }
    
    .numero-caja {
    
        display: inline-block;
        padding: 0.3em 3em;
        margin-top: 0;
        margin-left: 1.2em;
        border-radius: 5px;
        background-color: #0049ac;
        color: #fff;
    }

    .points h2, #instruc {

        margin: 0 auto;
    }

    form {

        width: 21em;
    }

    input {

        width: 19.4em;
    }

    #logos-particip {

        margin: -12px 0 12px 0;
        max-width: 100%;
    }

    #logos-particip img {

        width: 45px;
        margin: 0 6px;
    }

    #logos-particip #primax {

        width: 85px;
    }

    #logos-particip #listo {

        width: 65px;
    }

    #logos-particip #chilis {

        width: 64px;
        height: 40px;
    }

    .tabla {

        grid-template-columns: 50% 0%;
        grid-gap: 8em 13em;
    }

    .scroll {

        overflow-x: hidden;
        width: 97%;
        height: 87%;
    }

    .scroll::-webkit-scrollbar {

        width: 9px;
        background-color: #5b98ce;
    }

    .scroll::-webkit-scrollbar-thumb {

        background-color: #0049ac;
    }

    .selec-doc .white {

        width: 380px;
    }

    .white h2 {

        margin: 0 2em 0.3em 2em;
        font-size: 20px;
    }

    .lista-botones {

        font-size: 16px;
    }

    .modal-close > img {

        width: 22px;
    }

    footer {

        margin-top: 4em;
    }

    footer .dudas {

        font-size: 14px;
    }

    .dudas p {

        max-width: 100%;
        margin: 0;
    }

    footer h4 {

        display: none;
    }

    .acerca {

        flex-direction: row;
        padding: 3em 4em;
        text-align: left;
        justify-content: space-around;
        align-items: baseline;
    }

    .acerca-bonus {

        display: flex;
        align-items: baseline;
        width: 65%;
    }

    .acerca-enlaces:last-child {
    
        margin-top: 0;
        margin-left: 6em;
    }
    
    .acerca-enlaces > h3 {
    
        margin-bottom: 1.6em;
        font-size: 1em;
    }
    
    .acerca-enlaces > a {
    
        margin: 0.8em 0;
        text-decoration: none;
        color: #a1a1a1;
        display: block;
        font-size: 0.8em;
    }
    
    .acerca-enlaces > a:hover {
    
        color: #efefef;
        transition: .1s;
    }
    
    .derechos {
    
        width: 35%;
        margin-top: 0;
        font-size: 0.7em;
        line-height: 1.5em;
    }
}

@media screen and (min-width: 1200px) {

    .globos-form {

        position: absolute;
        top: 2em;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
    }

    .globos-form > img {

        width: 10%;
    }
}